<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-task2.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="../assets/images.png" alt="logo" />
        <div class="nav">
          <a href="./task3.html" target="_blank"><p>HOME</p></a>
          <a href="./task4.html" target="_blank"><p>ABOUT US</p></a>
          <a href="./task5.html" target="_blank"><p>PORTFOLIO</p></a>
          <a href="./task6.html" target="_blank"><p>JOURNAL</p></a>
          <p>CONTACT</p>
          <img src="../assets/heart.png" alt="heart" />
          <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </header>
      <div class="banner">
        <h2>WE`RE KEEPSAKE, A DIGITAL & BRANDING AGENCY</h2>
        <p>
          Specializing in web design, poster motion video, based in London. We
          love to turn ideas into beatiful things.
        </p>
      </div>
      <div class="catalog">
        <div class="catalog-header">
          <h3>OUR AWESOME WORKS <span style="color: red">--</span></h3>
          <button class="catalog-btn">FILTER PORTFOLIO</button>
        </div>
        <div class="catalog-items">
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
          <div class="catalog-item">
            <img src="../assets/disc.jpg" alt="catalog-item" />
          </div>
        </div>
      </div>
      <div class="contact-block">
        <h2>WOULD YOU LOVE TO WORK WITH US?</h2>
        <button class="contact-btn">
          <img src="../assets/mail.png" alt="mail" />
          CONTACT US
        </button>
      </div>

      <div class="works-block">
        <h3>WHAT WE DO <span style="color: red">--</span></h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste itaque
          sequi repudiandae soluta! Inventore fugit minima perferendis
        </p>
        <div class="works">
          <div class="works-item">
            <img src="../assets/iconfinder_weather03.png" alt="" />
            <h2><b>WEB DESIGN</b></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              eveniet laudantium, recusandae autem quas ipsam nulla accusamus,
              quo voluptatum obcaecati repudiandae dolores itaque similique
              error sunt nam saepe nostrum laboriosam.
            </p>
          </div>
          <div class="works-item">
            <img src="../assets/iconfinder_weather03.png" alt="" />
            <h2><b>WEB DESIGN</b></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              eveniet laudantium, recusandae autem quas ipsam nulla accusamus,
              quo voluptatum obcaecati repudiandae dolores itaque similique
              error sunt nam saepe nostrum laboriosam.
            </p>
          </div>
          <div class="works-item">
            <img src="../assets/iconfinder_weather03.png" alt="" />
            <h2><b>WEB DESIGN</b></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              eveniet laudantium, recusandae autem quas ipsam nulla accusamus,
              quo voluptatum obcaecati repudiandae dolores itaque similique
              error sunt nam saepe nostrum laboriosam.
            </p>
          </div>
          <div class="works-item">
            <img src="../assets/iconfinder_weather03.png" alt="" />
            <h2><b>WEB DESIGN</b></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
              eveniet laudantium, recusandae autem quas ipsam nulla accusamus,
              quo voluptatum obcaecati repudiandae dolores itaque similique
              error sunt nam saepe nostrum laboriosam.
            </p>
          </div>
        </div>
      </div>
      <div class="journal-block">
        <h3>FROM THE JOURNAL <span style="color: red">--</span></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="journals">
          <div class="journal-item">
            <img src="../assets/disc.jpg" alt="discodo" />
            <div class="journal-info">
              <h3>Lorem some ipsum lala</h3>
              <p>Lorem ipsum,</p>
            </div>
          </div>
          <div class="journal-item">
            <img src="../assets/disc.jpg" alt="discodo" />
            <div class="journal-info">
              <h3>Lorem some ipsum lala</h3>
              <p>Lorem ipsum,</p>
            </div>
          </div>
          <div class="journal-item">
            <img src="../assets/disc.jpg" alt="discodo" />
            <div class="journal-info">
              <h3>Lorem some ipsum lala</h3>
              <p>Lorem ipsum,</p>
            </div>
          </div>
          <div class="journal-item">
            <img src="../assets/disc.jpg" alt="discodo" />
            <div class="journal-info">
              <h3>Lorem some ipsum lala</h3>
              <p>Lorem ipsum,</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright &copy; 2024. All rights reserved. Anton Syrbu</p>
    </footer>
  </body>
</html>
