<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/style-task1.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="index.html">
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main>
        <div class="temp-block">
          <div class="curr-temp">
            <h2>Chernivtsi, CE</h2>
            <p>Tuesday, April 15th</p>
            <p>Overcast</p>
            <div class="info-block">
              <div class="forecast">
                <img src="../assets/iconfinder_weather04.png" alt="" />
                <h2>58 &deg;</h2>
              </div>
              <div class="forecast-info">
                <p>Precipitation: <b>100%</b></p>
                <p>Humidity: <b>97%</b></p>
                <p>Wind: <b>4 mph SW</b></p>
                <p>Pollen count: <b>36</b></p>
              </div>
            </div>
          </div>
          <div class="future-temp">
            <p><b>Today</b></p>
            <img src="../assets/iconfinder_weather07.png" alt="" />
            <div class="temp">
              <p><b>68 &deg;</b></p>
              <p class="polen">36 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Wednesday</b></p>
            <img src="../assets/iconfinder_weather01.png" alt="" />
            <div class="temp">
              <p><b>50 &deg;</b></p>
              <p class="polen">39 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Thursday</b></p>
            <img src="../assets/iconfinder_weather01.png" alt="" />
            <div class="temp">
              <p><b>55 &deg;</b></p>
              <p class="polen">39 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Friday</b></p>
            <img src="../assets/iconfinder_weather02.png" alt="" />
            <div class="temp">
              <p><b>54 &deg;</b></p>
              <p class="polen">43 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Saturday</b></p>
            <img src="../assets/iconfinder_weather06.png" alt="" />
            <div class="temp">
              <p><b>64 &deg;</b></p>
              <p class="polen">46 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Sunday</b></p>
            <img src="../assets/iconfinder_weather06.png" alt="" />
            <div class="temp">
              <p><b>64 &deg;</b></p>
              <p class="polen">50 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
          <div class="future-temp">
            <p><b>Monday</b></p>
            <img src="../assets/iconfinder_weather02.png" alt="" />
            <div class="temp">
              <p><b>61 &deg;</b></p>
              <p class="polen">50 &deg;</p>
            </div>
            <p class="polen">Pollen 36</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
