<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/style-task4.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="parent">
        <div class="div1">
          <img src="../assets/image_2.jpg" alt="" />
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui</p>
        </div>
        <div class="div2">
          <img src="../assets/image_2.jpg" alt="" />
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui</p>
        </div>

        <div class="div4">
          <img src="../assets/image_2.jpg" alt="" />
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui</p>
        </div>
        <div class="div5">
          <img src="../assets/image_2.jpg" alt="" />
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui</p>
        </div>
        <div class="div6">
          <img src="../assets/image_2.jpg" alt="" />
          <h2>Lorem ipsum, dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui</p>
        </div>
      </div>
    </div>
  </body>
</html>
