<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/style-task5.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="../index.html">
            <img src="../assets/panda.png" alt="panda" />
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main>
        <div class="weather-content">
          <div class="black-square">
            <div class="btns">
              <img src="../assets/arrow_back.svg" alt="arrow_back" />
              <img src="../assets/arrow_forward.svg" alt="arrow_forward" />
            </div>
            <div class="weather">
              <img src="../assets/cloud.png" alt="cloud" />
            </div>
            <h2>17</h2>
          </div>
          <div class="grey-square">
            <div class="flex-container">
              <div class="day">
                <p>Mon</p>
                <h3>17&deg;</h3>
              </div>
              <div class="day">
                <p>Tue</p>
                <h3>19&deg;</h3>
              </div>
              <div class="day">
                <p>Wed</p>
                <h3>16&deg;</h3>
              </div>
              <div class="day">
                <p>Thu</p>
                <h3>18&deg;</h3>
              </div>
              <div class="day">
                <p>Fri</p>
                <h3>21&deg;</h3>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
