<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/style-task4.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="../index.html">
            <img src="../assets/panda.png" alt="panda" />
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main>
        <ul class="menu">
          <li>
              <img src="../assets/home.png" alt="home" width="80px">
              <div class="dropdown">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p>Pellentesque commodo velit in quam vehicula.</p>
                  <p>Integer vel lacus non nulla tincidunt varius.</p>
              </div>
          </li>
          <li>
              <img src="../assets/search.png" alt="search" width="80px">
              <div class="dropdown">
                  <p>Donec sollicitudin magna ut ligula fermentum.</p>
                  <p>Nullam sit amet lacus sed neque tincidunt.</p>
                  <p>Vivamus porttitor ligula nec nisl.</p>
              </div>
          </li>
          <li>
              <img src="../assets/mail.png" alt="mail" width="80px">
              <div class="dropdown">
                  <p>Fusce nec diam auctor, commodo risus nec, fermentum nisl.</p>
                  <p>Aliquam erat volutpat. Donec sodales justo sit amet orci.</p>
                  <p>Suspendisse vel felis nec lorem luctus volutpat.</p>
              </div>
          </li>
      </ul>
      <ul class="vertical-menu">
        <li>
            <img src="../assets/home.png" alt="home" width="40px">
            <div class="vertical-dropdown">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Pellentesque commodo velit in quam vehicula.</p>
                <p>Integer vel lacus non nulla tincidunt varius.</p>
            </div>
        </li>
        <li>
            <img src="../assets/news.png" alt="news" width="40px">
            <div class="vertical-dropdown">
                <p>Donec sollicitudin magna ut ligula fermentum.</p>
                <p>Nullam sit amet lacus sed neque tincidunt.</p>
                <p>Vivamus porttitor ligula nec nisl.</p>
            </div>
        </li>
        <li>
            <img src="../assets/coffee.png" alt="coffee" width="40px">
            <div class="vertical-dropdown">
                <p>Fusce nec diam auctor, commodo risus nec, fermentum nisl.</p>
                <p>Aliquam erat volutpat. Donec sodales justo sit amet orci.</p>
                <p>Suspendisse vel felis nec lorem luctus volutpat.</p>
            </div>
        </li>
    </ul>
      </main>
    </div>
  </body>
</html>
