<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/style-task5.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="../index.html">
            <img src="../assets/panda.png" alt="panda" />
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main>
        <div class="block first">
          <img src="../assets/girl.png" alt="girl" />
          <p><span class="article-title">Lorem ipsum</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
        <div class="block second">
          <img src="../assets/girl.png" alt="girl" />
          <p><span class="article-title">Lorem ipsum</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
        <div class="block third">
          <img src="../assets/girl.png" alt="girl" />
          <p><span class="article-title">Lorem ipsum</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
        <div class="block fourth">
          <img src="../assets/girl.png" alt="girl" />
          <p><span class="article-title">Lorem ipsum</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
        <div class="block fifth">
          <img src="../assets/girl.png" alt="girl" />
          <p><span class="article-title">Lorem ipsum</span></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          </p>
        </div>
      </main>
    </div>
  </body>
</html>
